<div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0; direction: rtl;">
    <section class="begin" style="text-align: center; color: <%= process.env.WEBSITE_COLOR %>; margin-bottom: 20px;">
        <img src="https://api.syriasooq.com/assets/images/stores/StoreLogo.png" alt="<%= process.env.WEBSITE_NAME %> Image"
            style="width: 100px; height: 100px;">
    </section>
    <section class="content"
        style="width: 80%; border: 1px solid <%= process.env.WEBSITE_COLOR %>; margin: auto; padding: 20px; line-height: 2;"
    >
        <h2 style="text-align: center;">تغيير كلمة مرور المستخدم في <%= process.env.WEBSITE_NAME %></h2>
        <p>عزيزي/عزيزتي [اسم المستلم]،</p>
        <p>مرحبا</p>
        <p>نود إعلامكم أنه قد تم تغيير كلمة المرور الخاصة بحسابكم لدى <%= process.env.WEBSITE_NAME %> في تاريخ [تاريخ التغيير]. إذا كنتم قد قمتم بهذا التغيير بأنفسكم، فلا داعي للقلق.</p>
        <p>ومع ذلك، إذا لم تقم أنت بتغيير كلمة المرور، أو إذا كنت تشك في أي نشاط غير مصرح به، نوصي بشدة بتغيير كلمة المرور الخاصة بك على الفور. يمكنك القيام بذلك عن طريق زيارة <a href="https://syriasooq.com/forget-password">رابط تغيير كلمة المرور</a> واتباع التعليمات.</p>
        <p>إذا كان لديك أي استفسارات أو تحتاج إلى مساعدة، لا تتردد في التواصل معنا عبر <a href="mailto:<%= process.env.BUSSINESS_EMAIL %>"><%= process.env.BUSSINESS_EMAIL %></a> .</p></p>
        <p>نشكرك على ثقتك بنا، ونأمل أن تستمتع بخدماتنا.</p>
        <h4>أطيب التحيات,</h4>
        <h4 style="line-height: 0; color: <%= process.env.WEBSITE_COLOR %>;">فريق عمل <%= process.env.WEBSITE_NAME %></h4> 
    </section>
</div>