<div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0; direction: rtl;">
    <section class="begin" style="text-align: center; color: <%= process.env.WEBSITE_COLOR %>; margin-bottom: 20px;">
        <img src="<%= process.env.BASE_API_URL %>/assets/images/stores/StoreLogo.png" alt="<%= process.env.WEBSITE_NAME %> Image"
            style="width: 100px; height: 100px;">
    </section>
    <section class="content"
        style="width: 80%; border: 1px solid <%= process.env.WEBSITE_COLOR %>; margin: auto; padding: 20px; line-height: 2;">
        <h2 style="text-align: center;">حذف متجر في <%= process.env.WEBSITE_NAME %></h2>
        <h3>عزيزي <span style="font-weight: bold; color: <%= process.env.WEBSITE_COLOR %>">التاجر</span>,</h3>
        <p>نأسف لإبلاغكم بأن حساب التاجر الخاص بكم  قد تم حذفه نهائياً من موقعنا
        </p>
        <h4>معرّف الحساب الخاص بك : <%= adminId %></h4>
        <h4>معرّف المتجر الخاص بك : <%= storeId %></h4>
        <p>هذا القرار نابع من سياسات الموقع والتي يتعين الامتثال لها .</p>
        <p>شكراً لتفهمكم .</p>
        <h4>أطيب التحيات,</h4>
        <h4 style="line-height: 0; color: <%= process.env.WEBSITE_COLOR %>;">فريق عمل <%= process.env.WEBSITE_NAME %></h4>
    </section>
</div>
