<div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0; direction: rtl;">
    <section class="begin" style="text-align: center; color: <%= process.env.WEBSITE_COLOR %>; margin-bottom: 20px;">
        <img src="<%= process.env.BASE_API_URL %>/assets/images/stores/StoreLogo.webp" alt="<%= process.env.WEBSITE_NAME %> Image"
            style="width: 100px; height: 100px;">
    </section>
    <section class="content"
        style="width: 80%; border: 1px solid <%= process.env.WEBSITE_COLOR %>; margin: auto; padding: 20px; line-height: 2;">
        <h2 style="text-align: center;">رفض طلب إضافة متجر لدى <%= process.env.WEBSITE_NAME %></h2>
        <h3>عزيزي <span style="font-weight: bold; color: <%= process.env.WEBSITE_COLOR %>">التاجر</span>,</h3>
        <p>نأسف أن نخبركم بأن طلب فتح حساب تاجر لم يتم الموافقة عليه حالياً .</p>
        <p>نحن نقدر اهتمامكم بالانضمام إلى موقعنا ونتمنى لكم النجاح في المستقبل .</p>
        <h4>أطيب التحيات,</h4>
        <h4 style="line-height: 0; color: <%= process.env.WEBSITE_COLOR %>;">فريق عمل <%= process.env.WEBSITE_NAME %></h4>
    </section>
</div>